.header {
  width: 100%;
  background-color: $primary-color;

  h3 {
    width: 300px;
    padding: 30px 0 30px 40px;
    color: $font-color;
    font-size: 25px;

    &::after {
      padding-left: 20px;
      content: "|";
      color: $font-color;
    }
  }
}