/* Open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$primary-color: #e26d03;
$color-desactivado: #ffca9f;
$font-color: #ffffff;
$tipografia: 'Open Sans', sans-serif;


